{% extends "base.html" %}
{% load static %}
{% block content %}
<h2><a class="btn btn-default" href="{% url 'Timeframe_task_list' %}">Task Listing</a></h2>
<table class="table">
<tr>
    <td>ID</td>
    <td>Link</td>
    <td>name</td>
    <td>created</td>
    <td>last_updated</td>
    <td>contact</td>
    <td>due</td>
    <td>project</td>
    <td>time spent</td>
    <td>completed</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.contact }}</td>
    <td>{{ object.due }}</td>
    <td>{{ object.project }}</td>
    <td>{{ object.time_spent }} minutes</td>
    <td>{{ object.completed }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'Timeframe_task_create' %}">Create new Task</a>
<h3><a href="{% url 'Timeframe_component_list' %}">See Components</a></h3>
{% endblock %}